@media(max-width: 1500px){
  .favorites{
    .container{
      padding:0 15px 0 0;
    }
    &__img{
      width:522px;
    }
  }
  .delivery{
    .container{
      padding: 0 0 0 15px;
    }
    &__img{
      width: 522px;
    }
  }
}
@media (max-width:1400px) {
  .footer{
    .nav{
      justify-content: center;
    }
  }
}
@media (max-width:1300px) {
  .socials{
    &__img{
      width: 30px;
      height: 30px;
    }
  }
  .header{
    .nav__menu{
      display: none;
    }
    .nav__socials{
      display: none;
    }
    .nav__burger{
      display: block;
    }
  }
  .burger__menu-wrapper{
    display: flex;
  }
  .top-banner{
    &__inner{
      gap:50px;
      margin-bottom: 50px;
    }
    &__about{
      padding-bottom: 43px;
    }
    &__about-desc{
      max-width: 85vw;
    }
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 32px;
  }
  html,body{
    font-size: 16px;
  }
  .favorites{
    padding-bottom: 30px;
    &__item{
      gap:30px;
    }
    &__line{
      padding-left: 0;
      margin-bottom: 0;
      &::before{
        left:-120px;
      }
    }
    &__title{
      width: 90%;
    }
    &__item-text{
      gap:30px;
    }
    &__btn{
      margin-top: unset;
    }
  }
  .prices{
    padding-top: 50px;
    &__list{
      gap:30px;
    }
  }
  .footer{
    .nav{
      row-gap: 55px;
    }
    &__policy,&__lapki{
      font-size: 14px;
    }
  }
}
@media (max-width:1100px) {
  .header,.top-banner{
    .container{
      max-width: 880px;
    }
  }
  .delivery{
    &__inner{
      gap:30px;
    }
    &__item-text{
      max-width: 400px;
      margin-left: auto;
    }
    &__line::before{
      right:-160px;
      max-width:660px;
    }
  }
  .prices{
    &__item::after{
      width: 95vw;
      margin:0 auto;
    }
    &__list{
      width: 95vw;
    }
  }
  .faq{
    &__questions{
      width:90vw;
    }
  }
  .form{
    &__grid{
      width: 90vw;
      margin:0 auto;
    }
  }
  .footer{
    .nav{
      &__logo{
        margin-right: 0%;
      }
    }
  }
}
@media (max-width:900px) {
  h1{
    font-size: 40px;
  }
  h2,h3{
    font-size: 32px;
  }
  .header,.top-banner{
    .container{
      max-width: 655px;
    }
  }
  .top-banner{
    &__inner{
      margin-bottom: 380px;
    }
  }
  .favorites{
    .container{
      padding:0 15px;
    }
    &__list{
      gap:50px;
    }
    &__item{
      flex-direction: column;
      align-items: stretch;
    }
    &__line{
      align-self: stretch;
      &::before{
        width: 115%;
        left:-30px;
      }
    }
    &__item-text{
      align-items: center;
    }
    &__title{
      max-width: 518px;
    }
    &__desc{
      text-align: center;
      width: 100%;
      max-width: 656px;
    }
    &__img{
      order:1;
      margin-top: 0;
      align-self: center;
      height:350px;
    }
  }
  .delivery{
    padding-bottom: 30px;
    .container{
      padding:0 15px;
    }
    &__img{
      display: none;
    }
    &__line{
      align-self: stretch;
    }
    &__line::before{
      max-width: unset;
      width: 115%;
      left:-70px;
      right:-30px;
    }
    &__item-text{
      padding-left: 40px;
      margin-left: 0;
      max-width: 95vw;
    }
  }
  .faq{
    &__heading{
      margin-bottom: 20px;
    }
  }
  .form{
    &__inner{
      gap:30px;
    }
    &__grid{
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(4,1fr);
      width:427px;
    }
    .area-wrapper{
      grid-row: 3/5;
      grid-column: 1;
    }
  }
  .footer{
    .nav{
      row-gap: 35px;
    }
  }
}
@media (max-width:650px) {
  h1{
    font-size: 32px;
  }
  h2,h3{
    font-size: 24px;
  }
  h4{
    font-size: 18px;
  }
  html,body{
    font-size: 14px;
  }
  .burger__menu-wrapper{
    font-size: 16px;
  }
  .header,.top-banner{
    .container{
      max-width: 438px;
    }
  }
  .header{
    .nav{
      gap:50px;
    }
  }
  .top-banner{
    &__inner{
      margin-bottom: 160px;
    }
    &__about{
      gap:20px;
      padding-bottom: 13px;
    }
  }
  .favorites{
    &__list{
      gap:30px;
    }
    &__line{
      padding-top: 30px;
    }
    &__item-text{
      gap:15px;
    }
    &__desc{
      max-width: 410px;
      margin-bottom: 15px;
    }
    &__img{
      max-width: 409px;
      width: 100%;
      min-height: 274px;
      height:auto;
    }
  }
  .delivery{
    &__item-text{
      padding-left: 20px;
      gap:15px;
    }
    &__desc{
      margin-bottom: 15px;
    }
    &__line::before{
      right:unset;
      left:-40px;
    }
  }
  .faq{
    padding: 30px 0 30px;
    &__inner{
      gap:30px;
    }
    &__questions{
      gap:30px;
    }
    &__question{
      padding:15px;
    }
    &__heading{
      margin-bottom: 0;
    }
    &__answer{
      padding-top: 30px;
    }
    .ui-accordion-header-icon{
      width:40px;
      height: 21px;
      background-size: cover;
    }
  }
  .prices{
    padding: 30px 0 30px;
    &__inner{
      gap:30px;
    }
    &__item-title{
      max-width: 90vw;
    }
  }
  .form{
    padding:30px 0;
    &__grid{
      max-width: 427px;
      width:87vw;
    }
    &__input,&__area{
      padding:15px 20px;
    }
  }
  .footer{
    padding-top: 30px;
    .nav{
      gap:40px;
    }
    .nav__menu{
      gap:25px;
    }
    // .nav__menu{
    //   display: grid;
    //   row-gap: 12px;
    //   column-gap: 20px;
    //   grid-template-columns: repeat(3,minmax(min-content,max-content));
    //   grid-template-rows: repeat(2,1fr);
    // }
    .nav__socials{
      flex-basis: 100%;
      justify-content: center;
    }
    &__policy,&__lapki{
      font-size: 12px;
    }
  }
  .fancybox__content{
    .carousel__button.is-close{
      top:0;
      right:0;
    }
  }
}
@media (max-width:450px) {
  .header{
    .nav{
      gap:20px;
    }
  }
  .burger__menu-wrapper{
    align-items: center;
    padding-left: 0;
    min-width: 100vw;
  }
  .burger__menu-wrapper>*{
    align-self: unset;
  }
  .burger__menu{
    width:unset;
    align-items: center;
  }
}
@media (max-width:400px) {
  h3{
    text-align: center;
  }
  .logo{
    .logo-img{
      width:80px;
      height:53px;
    }
  }
  .header{
    .nav{
      gap:10px;
    }
  }
  .top-banner{
    &__inner{
      gap:25px;
      margin-bottom:180px;
    }
  }
  .favorites{
    &__img{
      min-height:210px;
    }
  }
  .delivery{
    &__line::before{
      left:-43px;
      width:123%;
    }
    &__item-text{
      padding-left: 10px;
    }
  }
  .fancybox__slide{
    padding: 0;
    height: 100vh;
  }
}