// %AnPro-Regular {
//   font-family: 'AnonymousPro-Regular', sans-serif;
//   font-weight: normal;
//   display: swap;
// }

// %AnPro-Bold {
//   font-family: 'AnonymousPro-Bold', sans-serif;
//   font-weight: 700
// }

// %AlGrey-Bold {
//   font-family: 'AlegreyaSC-Bold', sans-serif;
//   font-weight: 700;
// }

// %AlGrey-Regular {
//   font-family: 'AlegreyaSC-Regular', sans-serif;
//   font-weight: normal;
// }

$dark-blue:#001934;
$form-bg:#001f3c;
$black: #030E1b;
$btn-linear: linear-gradient(265.73deg, #1E3562 13.44%, #5690C5 85.01%);
$block-linear: linear-gradient(95.78deg, #1E3562 0%, #001934 54.6%);
$blur-bg: rgba(0, 25, 52, 0.5);
